html{
	background: linear-gradient(rgba(94, 3, 252, 0.5), rgba(230, 16, 112, 0.5));
}

.mainBody{

	width: 80vw;
	height: 80vw;
	margin-top: 7vw;
	margin-left: 10vw;
	margin-right: 10vw;
}

.subBody{
	width: 80%;
	height: 20%;
	margin: auto;
}

.category{
	display: inline-block;
	width: 28%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#schoology{
	width: 25%;
}

a{
	padding: 10px 10px 10px 10px;
	text-decoration: none;
	font-size: 30px;
	font-family: "arial";
	color: purple;
	border-radius: 15px;
	background-color: rgba(209, 84, 255, 0.5);
}

a:hover{
	border-radius: 10px;
	background-color: purple;
	color: hotpink;
}

h1{
	font-family: "arial";
	font-size: 60px;
	color: purple;
}
